<!DOCTYPE html>
<html>
 
<head>
<style>
button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
    <title>Fun With Random Numbers</title>
</head>
 
<body>
    <h2>What Type of Random Number Would You Like?</h2>

    <a href="/rand/1/10">
      <button>A Small Random Number</button>
    </a>

    &nbsp &nbsp &nbsp
    
    <a href="/rand/1000/2000">
      <button>A Big Random Number</button>
    </a>
</body>
 
</html>
